---
import sortBy from "lodash/sortBy";
import Layout from "../../layouts/Layout.astro";
import MainHead from "../../components/MainHead.astro";
import MainName from "../../components/MainName.astro";
import MainText from "../../components/MainText.astro";
import MainSide from "../../components/MainSide.astro";
import MainWide from "../../components/MainWide.astro";
import SepLinks from "../../components/SepLinks.astro";
import Releases from "../../components/Releases.astro";
import type { JsonData, Artist, Release } from "../../types";
import { artist_name, link_site } from "../../functions";

const response = await fetch(
  "https://mjk-decades.s3.eu-west-2.amazonaws.com/db.json"
);
const data = (await response.json()) as JsonData;
const { id } = Astro.params;

let artist: Artist;

if (id && id in data.artists) {
  const json = data.artists[id];

  artist = {
    ...json,
    releases: sortBy(
      Object.values(data.releases)
        .filter((r) => r.status?.startsWith("A") && r.artist_ids.includes(id))
        .map(
          (r) =>
            ({
              ...r,
              text: null,
              label: null,
              artists: [],
              genres: [],
            }) satisfies Release
        ),
      "date"
    ),
  };
} else {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}

const links: [string, string, string?][] = sortBy(
  artist.links.map((lnk) => [
    lnk.url,
    link_site(lnk),
    lnk.which ? ` (${lnk.which})` : undefined,
  ]),
  ([_, site]) => site
);
---

<Layout title={`Artist: ${artist_name(artist)}`}>
  <MainHead>Artist</MainHead>
  <MainName>{artist_name(artist)}</MainName>
  <MainWide>
    <Releases releases={artist.releases} large />
  </MainWide>
  <MainSide>
    {
      links.length > 0 ? (
        <div class="info">
          see also: <SepLinks links={links} external />
        </div>
      ) : null
    }
  </MainSide>
</Layout>

<style>
  p.text {
    margin: 0;
    margin-bottom: 0.6rem;
    text-align: justify;
  }

  p.byline {
    margin: 0;
    margin-bottom: 1.5rem;
    text-align: right;
  }

  .info {
    margin-bottom: 0.6rem;
    margin-left: 1rem;
    text-indent: -1rem;
  }
</style>
